.controlpanel-btn-primary {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5rem;
  height: 40px;
}

.controlpanel-btn-primary:hover {
  background-color: #2e4df4;
}

.controlpanel-btn-primary:active {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.controlpanel-btn-secondary {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5rem;
  height: 40px;
}

.controlpanel-btn-secondary:hover {
    background-color: #ededed;
}

.controlpanel-btn-secondary:active {
  box-shadow: rgba(200, 200, 200, 0.3) 0 0 0 1px inset,
              rgba(200, 200, 200, 0.3) 0 6px 15px 0,
              rgba(200, 200, 200, 0.2) 0 2px 2px 0,
              rgba(200, 200, 200, 0.2) 0 0 0 4px;
}

.controlpanel-div {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.controlpanel-input {
    border: 1px solid #D3D3D3;
}


