.dropdown-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
    z-index: 99;
    transform: translateY(-5%);
    transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
}

.dropdown-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.button-open {
    outline: 2px solid rgb(147, 197, 253);
    outline-offset: -2px;
}

.content-open {
     opacity: 1;
     transform: translateY(0);
}

.dropdown-item {
    padding: 0.5rem;
    margin: 0.1rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(240, 249, 255);
}