.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  gap: 10px;
}

.header-nav {
  text-decoration: none;
  color: inherit;
}