/* Inter import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0px;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
}

.main-title {
  font-size: 3rem;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.home-section {
  margin-bottom: 20px;
}

.home-button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.home-alg-btn {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  transition: all 0.2s;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.2s, border 0.2s, box-shadow 0.2s;
}

.home-alg-btn:hover {
  color: #34b1fd;
  border: 1px solid #34b1fd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.home-h2 {
  margin-bottom: 10px;
}

.home-subtitle-heading {
  display: flex;
  align-items: center;
  gap: 6px;
}

.subtitle-link {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

.subtitle-link:hover {
  color: #333;
}

.home-subtitle-heading svg {
  display: block;
}
