/* Inter import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0px;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.home-container {
    display: flex;
    justify-content: center
}

.main-title {
  font-size: 3rem;
  margin: 30px 0 20px 0;
  color: #222;
  padding-bottom: 5px;
}

.home-section {
  margin-bottom: 20px;
}

.home-button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.home-alg-btn.primary {
  background-color: #34b1fd; 
}
.home-alg-btn.primary:hover {
  background-color: #1a88d0; 
}

.home-alg-btn.secondary {
  background-color: #FF9800; 
}
.home-alg-btn.secondary:hover {
  background-color: #e68a00; 
}

.home-alg-btn.tertiary {
  background-color: #4caf50;
}
.home-alg-btn.tertiary:hover {
  background-color: #3e8e41; 
}

.home-alg-btn.quaternary {
  background-color: #9c27b0;
}
.home-alg-btn.quaternary:hover {
  background-color: #7b1fa2;
}

.home-alg-btn {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.2s;
  display: inline-block;
}

.home-h2 {
  margin-bottom: 10px;
  color: #333;
}
