body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This needs to center the content creator*/
}

.content-container {
    display: flex;
    flex-direction: row;
}

.sorting-div {
    display: flex;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sorting-numbox {
    padding: 10px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sorting-wrapper {
    height: 500px;
    width: 700px;
    border: 1px solid #D3D3D3;
    display: relative;
}

.highlight {
    background-color: lightgrey;
}

.log-tracker {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #D3D3D3;
}

.sorting-wrapper-merge-sort {
  display: grid;
  grid-auto-rows: 50px;      
  justify-content: center;     
  gap: 5px;                       
  overflow-y: auto;            
  padding: 10px;               
  border: 1px solid #D3D3D3;
  height: 500px;
  width: 700px;
}

.sorting-div-merge-sort {
  display: flex;       
  text-align: center;
  align-items: center;                   
}