/* Inter import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0px;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This needs to center the content creator*/
}

.content-container {
    display: flex;
    flex-direction: row;
}

.sorting-div {
    display: flex;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sorting-wrapper {
    height: 500px;
    width: 700px;
    border: 1px solid #D3D3D3;
    display: relative;
    border-radius: 4px;
}

.highlight {
    background-color: #34b1fd;
    color: white;
}

.alert-highlight {
    background-color: #FF9800;
    color: white;
}

.bg-highlight {
    background-color: #c4c2c2;
    color: black; 
}

.highlight-node {
    fill: #34b1fd; 
}

.alert-highlight-node {
    fill: #FF9800;   
}

.bg-highlight-node {
    fill: #c4c2c2;  
}

.normal-node {
    fill: white;   
}

.log-tracker {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #D3D3D3;
    border-radius: 4px;      
}

.sorting-wrapper-merge-sort {
  display: grid;
  grid-auto-rows: 50px;      
  justify-content: center;     
  gap: 5px;                       
  overflow-y: auto;            
  padding-top: 10px;          
  border: 1px solid #D3D3D3;
  height: 500px;
  width: 700px;
  border-radius: 4px;      
}

.sorting-div-merge-sort {
  display: flex;       
  text-align: center;
  align-items: center;    
  font-size: 25px;    
  border-radius: 4px;       
}

.sorting-numbox {
  padding: 10px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
