.container {
    display: flex;
}

.sorting-div {
    display: flex;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sorting-div.merge-sort {
    position: relative;
    align-items: center;
}

.merge-sort-row {
    display: grid;
    justify-items: start;
}

.sorting-numbox {
    padding: 10px;
    border: 1px solid black;
    width: 30px;
    text-align: center;
}

.sorting-wrapper {
    height: 500px;
    width: 700px;
    border: 1px solid black;
    display: relative;
}

.sorting-wrapper.merge-sort {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.highlight {
    background-color: lightgrey;
}

.log-tracker {
    height: 500px;
    overflow-y: auto;
}
